option_settings:
  aws:elasticbeanstalk:application:environment:
    FLASK_ENV: production
    PORT: "8080"
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
  aws:autoscaling:asg:
    MinSize: "2"
    MaxSize: "5"
  aws:elasticbeanstalk:environment:process:default:
    Port: "8080"
    Protocol: HTTP
    HealthCheckPath: /health
