option_settings:
  # Configuración del entorno de la aplicación
  aws:elasticbeanstalk:application:environment:
    FLASK_ENV: production
    PORT: "8080"

  # Configuración del servidor Proxy (Nginx)
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx

  # Configuración del balanceador de carga
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application

  # Configuración del grupo de Auto Scaling
  aws:autoscaling:asg:
    MinSize: "2"
    MaxSize: "5"

  # Configuración de los procesos del balanceador de carga
  aws:elasticbeanstalk:environment:process:default:
    Port: "80"
    Protocol: HTTP
    HealthCheckPath: /api/orders
