option_settings:
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
  aws:ec2:instances:
    InstanceTypes: t3.micro
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7
  aws:elasticbeanstalk:container:docker:
    GracefulTimeout: 30
  aws:elasticbeanstalk:xray:
    XRayEnabled: false
